
.popup{
  display: none;
  background-color: #fdfcfc;
  padding: 30px;
  position: absolute;
  /*left: 50%;*/
  /*margin-left: -250px;*/
  /*top: 50%;*/
  /*margin-top: -200px;*/
  left: 0;
  right: 0;
  top: 45%;
  margin:auto;
  margin-top: -150px;
  z-index: 100;
  border-radius: 4px;
  box-shadow: 0px 0px 37px 1px rgba(51, 51, 51, 0.39);
  width: 60vw;
  min-width: 200px;
  max-width: 500px;
  /*max-height: 350px;*/
  height: auto
}

@media screen and (max-width: 550px) and (min-width: 200px) {
    .popup {
        width: 90vw;
    }
    #help {
        width: 90vw;
    }
}

.text{
  color: grey;
  font-size: 10pt;
}

.popupTextWhat{
  text-align: right;
  margin-bottom: 0;
  font-style: bold;
}

.darkening{
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  margin-top: -50px;
  background-color: rgba(0,0,0,0.2);
  /*background-color: rgba(255,255,255,0.35);*/

}

.closeThis{
  color: grey;
  text-decoration: none;
  float: right;
  margin-top: -10px;
  font-size: 8pt;
}

.noMarginPadding{
  margin:0;
  padding: 0;
}

.fileInputForm{
  width: 53vw;
  max-width: 425px;
  min-width: 200px;
  padding-bottom: 10px;
}

@media screen and (max-width: 550px) and (min-width: 200px) {
    .fileInputForm {
        width: 70vw;
    }
}

.btn-browse{
  background: #656565;
  /*background: #80c0b2;*/
  /*background: #8dc0b5;*/
  /*background: #f26a06;*/
  color: white;
}

.useDefaultBtn{
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px !important;
}

.sidebarBox{
  background-color: #999;
  margin: auto;
  margin-top: 100px;
  max-height: 200px;
  overflow: auto;
  /*padding-top: 10px;*/
}

.sidebarHeader{
  color: #777;
  font-size: smaller;
  margin-top: 100px;
  margin-bottom: -99px;
  margin-right: 14px;
  text-align: right;
}

.layerdiv:hover{
  background-color: #aaa;
}

.layerdiv{
  overflow: auto;
}

.layerp{
  font-size: smaller;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
/*  max-width: 110px;
  min-width: 75px;*/
  width: 170px;
  overflow: visible;
  word-wrap: break-word;
  /*display: inline;*/
  word-break: break-all;
}

hr{
  margin-top: 0;
  border-top: 0.5px solid #fff;
}

.layer{
  display: block;
  color: #fff;
}


.layer:hover{
  color: #333;
}

table{
  border: red;
  padding-right: 10px;
  padding-left: 10px;
}

#legend{
  color: #969696;
  font-size: smaller;
  margin-top: 130px;
}

#tollsBtn{
  font-size: smaller;
  margin-top: 30px;
}

#sidebarMenuClose{
  color: #c1c1c1;
  text-decoration: none;
  float: right;
  position: absolute;
  z-index: 90;
  right: 0;
  top: 9px;
  padding: 10px;
  font-size: 8pt;
}

#sidebarMenuClose:hover{
  color: black;
}

#sidebarHelp{
  font-size: x-small;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
  /*position: absolute;
  bottom: 0;
  margin-left: 10px;*/
  /* color: black; */
  color: grey;
}

#sidebarHelp:hover{
  color: black;
}

.sidebartext{
  font-size: smaller;
  color: white;
}

#layernameinput{
  border-radius: 2px;
  background-color: #474747;
  color: white;
  font-size: smaller;
  padding: 4px 30px 4px 8px;
  border: none;
}

.inputfocus:focus{
    outline-color: rgba(243, 106, 1, 0.49);
}

#sidebaremenusavechangesbtn{
  font-size: smaller;
  width: 200px;
  color: white;
  background-color: rgba(255, 145, 60, 0.77);
  margin-top:20px;
}

#sidebaremenusavechangesbtn:hover{
  color: #d6d6d6;
}

#sidebaremenusavechangesdiv{
  text-align: center;
}

input[type=range]{
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-ms-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}


input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]:focus::-ms-track {
  background: #ccc;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

.tdslider{
  padding-bottom: 10px;
  padding-left: 2px;
  width: 130px;
}

.slidertxt{
  width: 20px;
  text-align: center;
  margin-left: 9px;
  font-size: smaller;
  color: #dadada;
}

.colorpickerinput{
  background: #474747;
  color: white;
  font-size: smaller;
  border: none;
  height: 24px;
}

.colorpicker-color{
    display: none;
}

.input-group-addon{
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0px;
  /* padding-top: 0px; */
  /* height: 9px; */
  /* border-radius: 2px; */
  background-color: rgba(255,255,255,0);
}

.colorpicker-element .input-group-addon i, .colorpicker-element .add-on i {
    display: inline-block;
    cursor: pointer;
    height: 23px;
    vertical-align: text-top;
    width: 28px;
    margin-right: 10px;
    margin-left: 3px;
}

/*.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}*/

.dropdowns{
  /*text-align: center;
  color: white;*/
  /*background-color: #999 !important;*/
 /* background-color: #474747;
  width: 200px;
  border-radius: 2px;
  padding: 3px;
  font-size: smaller;*/

  border-radius: 2px;
  background-color: #474747;
  color: white;
  font-size: smaller;
  padding: 8px 30px 8px 8px;
  border: none;
  width: 200px;
  min-width: 100px;
}

#toolsPopup{
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: rgba(121, 121, 121, 0.97);
}

#closeToolsPopup{
  color: #c6c6c6;
}

#closeToolsPopup:hover{
  color: black;
}

.spatialOpBtn{
  margin-top: 25px; 
  font-size: smaller; 
  background-color: 
  rgba(255, 145, 60, 0.77); 
  color: white; 
  position: relative;
}

.spatialOpBtn:hover{
  color: #dadada;
}

.createBufferBtnLoad{
  margin-top: 25px; 
  font-size: smaller; 
  background-color: 
  rgba(255, 145, 60, 0.77); 
  color: #dadada; 
  position: relative;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
}

#bufferInput{
  width: 55px;
  color: white;
  background-color: #474747;
  border: none;
  border-radius: 2px;
  padding: 5px;
  font-size: smaller;
}

.deleteDownload{
  /*display: inline-table; */
  /* position: absolute; */
  /* padding-top: 10px; */
  bottom: 10px;
  margin-top: 74px;
  padding-left: 20px;
  padding-right: 20px;
  /* left: 46%; */
  margin: 0 auto;
  color: #ebebeb;
}

.deleteDownload:hover{
  color: black;
}

#cancelBtn{
  width: 200px;
   margin-top: 10px; 
  margin-bottom: 50px;
  font-size: smaller;
  /* position: absolute; */
  /* left: 50%; */
  /* margin-left: -100px; */
}

.error{
  padding: 8px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -14px;
  /* margin: 10px 0px 0px 0px !important; */
  color: rgb(139, 69, 0) !important;
  background-color: rgba(255, 218, 191, 0.64) !important;
  border: 1px solid rgba(145, 64, 3, 0.41) !important;
  font-size: smaller;
  border-radius: 4px;
}

.obs {
    padding: 8px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -14px;
    /* margin: 10px 0px 0px 0px !important; */
    color: rgb(255, 255, 255) !important;
    background-color: rgba(224, 224, 224, 0.64) !important;
    border: 1px solid rgba(255, 255, 255, 0.41) !important;
    font-size: smaller;
    border-radius: 4px;
}


li { 
  cursor: move; 
}

span{
  cursor: auto;
}


#calculatingBufferDiv{
  /*display: block;*/
  text-align: center;
  margin-top: 72px;
  margin-bottom: -102px;
}

#cancelBufferBtn{
  width: 200px;
  font-size: smaller;
}

#cancelBufferDiv{
  display: none;
  text-align: center;
  margin-top: 8px;
}

@media screen and (max-width: 480px) {
    .tdTools {
        display: block;
        margin-bottom: 5px;
    }
    #selectBufferLayerTd{
      width: 100%!important;
    }
    #selectBufferDistTd{
      text-align: center;
      margin-left: 14px;
      margin-top: 20px;
    }
    #sidebar{
      width: 100vw;
    }
    .layerp{
      width: 70%;
    }
    .navbar{
      width: 100vw;
    }
    #sidebarMenu{
      position: absolute;
      z-index: 99;
      left: 0;
      width: 100vw;
    }
    .tdslider{
      width: 55%;
    }
}

#logoHelp{
  width: 50px;
  margin-bottom: 5px;
}

.helpTxt{
  margin-bottom: 0px;
}

.helpTxt:hover{
  color: black;
}

.helpHeader{
  color: grey;
  margin-bottom: 23px;
  display: inline-block;
  margin-left: 20px;
}

.helpGif{
  width: 100%;
}

#aboutPopup{
  top: 40%;
}

.helpBack:hover{
  color: black;
}