body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#mapid {
  height: 180px;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  z-index: 800;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
  z-index: 800;
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  z-index: 800;
  padding: 0 18px;
  background-color: white;
  display: none;
}